
html {
  scroll-behavior: smooth;
}

select {
  border: 1px solid #ccc;
  vertical-align: top;
  height: 28px;
}

.pageTitle {
    color: black;
    font-size: 24px;
}

.germanyFlag {
    justify-items: center;
}

.input-grams {
  height: 28px;
  width: 320px;
  text-align: center;
  font-size: 18px;
}


input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.unitChoice {
  min-width: 300px;
  max-width: 540px;
  place-items: center;
  place-content: center;
}




body {
    font-family: sans-serif;
    background: linear-gradient(15deg, black 50%, black 50%);
    color: white;
    height: ;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
}

/* CSS GRID ELEMENTS STARTING HERE
 ********************************* */

.wrapper {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
    grid-template-rows: 0.5fr 0.25fr 0.25fr 0.1fr 0.25fr;
    grid-template-areas: 
        "pic con1 con1 space" 
        "pic con2 con2 space" 
        "pic con3 con3 space" 
        "pic con4 con4 space"
        "pic con5 con5 space";
    align-self: center;
    text-align: center;
    grid-gap:0.2rem;
}

.side-image {
    grid-area: pic;
    grid-gap: 0rem;
}

.side-image > img {
    width: 100%;
    height: auto;
}

.subheader {
    background: black;
    color: white;
    font-size: 1.3em;
    align-self: center;
    grid-area: con1;
}

.description {
    background: black;
    color: #7fffd4;
    font-size: 1.2em;
    align-items: center;
    justify-items: center;
    grid-area: con2;
}

.description2 {
    background: black;
    color: white;
    font-size: 1.2em;
    align-items: start;
    grid-area: con3;
}

.description2 > button {
    background-color: #7FFFD4;
    color: black;
    padding: 8px 12px;
    height: 40px;
    size:22px;
. border-radius;
. text-shadow;
. transition(all .5 s);
}

.unitClass {
    grid-area: con4;
}

.secondForm {
    grid-area: con5;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
        "spc conte1 conte1 spc2"
        "spc conte2 conte2 spc2";
    align-self: center;
    text-align: center;
    grid-gap:0.2rem;
}

.resultField {
    grid-area: conte1;
}

.lastQueries {
    grid-area: conte2;
}
/* CSS GRID ELEMENTS ENDING HERE
 ********************************* */
header {
    font-family: sans-serif;
    background: linear-gradient(to bottom,#7fffd4,#7fffd4);
    color: black;
    height: 15vh;
    margin: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    place-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}

footer {
  font-family: sans-serif;
  background: linear-gradient(to bottom,#7fffd4,#7fffd4);
  color: black;
  height: 5vh;
  margin: 0;
  display: grid;
  place-items: center;
  text-align: center;
  width: 1024px; 
}

.errorMessages {
  color:white;
  background-color: red;
  font-size:14px;
  width: 200px;
  place-items: center;
  text-align: center;
  left: 50%;
  margin-left: 100px;

}




form {
  background: black;
  width: 100%;
  display: block;
  margin: auto;
  font-size:22px;
  padding: 30px;
  min-width: 220px;
  max-width: 540px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}
.btn {
  background-color: #7FFFD4;
  color: black;
  padding: 8px 12px;
. border-radius;
. text-shadow;
. transition(all .5 s);
}

&:hover{
   text-decoration: none;
   background-color: lighten(#7FFFD4, 60%);
   color: lighten(black, 10%);
 }

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  min-width: 400px;
  max-width:720px;
  align-self: center;
  place-content: center;
  place-items: center;
}
.inline-radio div {
  position: relative;
  flex: 1;
}
.inline-radio input {
  width: 100%;
  height: 40px;
  opacity: 0;
}
.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
}
.inline-radio div:last-child label {
  border-right: 0;
}
.inline-radio input:checked + label {
  background: #7FFFD4;
  font-weight: 700;
  color: black;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #7fffd4;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 2px 2px 3px #000000, 0px 0px 3px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: grey;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: grey;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}